.project-container-container {
    display: flex;
    flex-direction: row;
}
.project-container { 
    width: 50%;
    margin: 0px 0px 0px 50px;
    padding-bottom: 50px;
}
.project-container h1 {
    text-align: center;
}
.project-subcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}


.project-card {
    all: revert;
    background-color: transparent;
    height: 250px;
    width: 220px;
    perspective: 1000px;
    margin: 40px 40px 40px 0px;
    
  }
  
  .project-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .project-card:hover .project-card-inner {
    transform: rotateY(180deg);
  }
  
  .project-card-front, .project-card-back {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    background-color: var(--pro2);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-card-front {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .project-card-front h1 {
      margin: 0px 0px 0px 0px;
      font-size: 25px;
  }
  .project-card-front img {
      width: auto;
      height: 80px;
      margin: 10px 0px 10px 0px;
      border-radius: 5px;
  }
  .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      
        
  }
  .date, .location {
      color: var(--pro1-highlight);
      margin: 0px;
      padding: 0px;
  }
  .project-card-back {
    color: black;
    text-align: left;
    transform: rotateY(180deg);
    font-size: 15px;
  }
  .technologies {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
  }
  .technologies div {
      background: var(--pro1);
      color: var(--pro2);
      border-radius: 4px;
      padding: 4px 4px 4px 4px;
      margin: 5px 5px 0px 0px;
  }

  .buttonOptions {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-end;
  }
  
  .buttonOptions div {
    height:20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.buttonOptions div:nth-child(1) a {
      background-color: var(--per1);
      color: var(--per2);
      text-decoration: none;
}
div.buttonOptions div:nth-child(2) a {
    background-color: var(--per2);
    color: var(--per1);
    text-decoration: none;
}
div.buttonOptions div:nth-child(3) a {
    background-color: var(--per1);
    color: var(--per2);
    text-decoration: none;
}
