
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; 
}

.home-professional {
  background-color: var(--pro1);
  color: var(--pro2);
  height: 100%;
  width: 50%;
  align-items: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.home-professional:hover{
  background: var(--pro1-highlight);
}

.last-name {
  width: 100%;
  text-align: left;
  padding-left: var(--homePad);
  margin: 0px;
  font-size: 5em;
}

.home-professional-hr {
  width: 60%;
  margin-left: 0;
  border: 1px solid var(--pro2);
}

.home-professional-p {
  width: 100%;
  text-align: left;
  padding-left: var(--homePad);
  margin: 0px;
  font-size: 2em;
}

.home-personal {
  background-color: var(--per1);
  color: var(--per2);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  text-decoration: none;
}

.home-personal:hover{
  background: var(--per1-highlight);
}


.first-name {
  width: auto;
  text-align: right;
  padding-right: var(--homePad);
  margin: 0px;
  font-size: 5em;
}

.home-personal-hr {
  width: 60%;
  align-items: right;
  margin-right: 0;
  border: 1px solid var(--per2);
}

.home-personal-p {
  width: auto;
  text-align: right;
  padding-right: var(--homePad);
  margin: 0px;
  font-size: 2em;
}

.contact {
  position:absolute;
  top:10px;
  right:15px;
  font-size:1.5em;
}