
.personal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; 
  }
  
  .personal-home {
    background-color: var(--pro1);
    color: var(--pro2);
    height: 100%;
    min-width: 50px;
    align-items: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }
  .personal-home a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }
  
  .personal-personal {
    background-color: var(--per1);
    color: var(--per2);
    height: 100%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
  }
  
  .left-arrow {
    transform: rotate(-90deg);
    width: 50px;
  }