
.professional {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; 
  }
  
  .professional-professional {
    background-color: var(--pro1);
    color: var(--pro2);
    height: 100%;
    width: 50%;
    align-items: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }

  .professional-home {
    background-color: var(--per1);
    color: var(--per2);
    height: 100%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
  }

  .professional-home a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }
  
  .right-arrow {
    transform: rotate(90deg);
    width: 50px;
  }