:root {
  --pro1: #2D3142;
  --pro2: #9EA9BD;
  --per1: #EF8354;
  --per2: #FFFFFF;
  --homePad: 40px;
}

body {
  margin: 0;
  font-family:  "Courier New", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

html
{
  height: 100%;
}

.Browser {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


